// 隐藏滚动条
html, body, .uni-scroll-view, .uni-scroll-view-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
// 显示隐藏，小程序v-show不起作用
.show-block {
  display: block !important;
}
.show-inline {
  display: inline-block !important;
}
.hide {
  display: none !important;
}
// 云村,视频,搜索等等页面的导航条
.village, .recentplay-tabs, .listall-tabs {
  .u-tabs {
    position: fixed;
  }
  .u-tabs-item {
    width: $width*0.5;
    color: rgba(255, 255, 255, .95);
    &:active {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}
.village, .video-index {
  .u-tabs {
    /* #ifdef APP-PLUS */
    top: var(--status-bar-height);
    /* #endif */
  }
}
.video-index, .search-tabs, .songlist-tabs, .newsongs-tabs {
  .u-tabs {
    position: fixed;
  }
  .u-tabs-item {
    color: rgba(255, 255, 255, .95);
    &:active {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}
.user-tab {
  .u-tabs {
    position: sticky;
    top: 0;
  }
  .u-tabs-item {
    width: $width*0.5;
    color: rgba(0, 0, 0, .95);
    &:active {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}
.favorite-tabs {
  .u-tabs {
    position: fixed;
  }
  .u-tabs-item {
    width: 80px;
    color: rgba(255, 255, 255, .95);
    &:active {
      background-color: rgba(0, 0, 0, .1);
    }
  }
}
// 发现页按钮
.title-btn {
  position: relative;
  z-index: 2;
  width: 165rpx;
  height: 50rpx;
  margin: 0;
  line-height: 50rpx;
  font-size: 26rpx;
  color: #3d3d3d;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 25rpx;
  &:active {
    border: none;
    background-color: rgba(0, 0, 0, .1);
  }
}
// 点击效果
.on-touch {
  &:active {
    background-color: rgba(1, 1, 1, 0.1);
  }
}
// 点击圆角效果
.ripple {
  position: relative;
  overflow: hidden;
  &:active::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.2);
    transform: scale(6, 6);
    opacity: .5;
  }
  &::after {
    content: '';
    transform: scale(0, 0);
    opacity: 0;
  }
}
// 我的页面折叠面板
.u-collapse-head {
  width: $width;
  height: 80rpx;
  padding: 0 !important;
}
// 歌单，歌曲样式
.song-group {
  display: flex;
  flex-direction: column;
  width: $width;
  .song-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: $height;
    .left {
      display: flex;
      align-items: center;
      flex: 3.2;
      // 左侧图像
      .list-cover {
        padding: 10rpx 23rpx 10rpx 27rpx;
        .bgc {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100rpx;
          height: 100rpx;
          background: rgba(0, 0, 0, 0.8);
          border-radius: 10rpx;
          text {
            color: #fff;
            font-size: 50rpx;
          }
        }
      }
      // 歌单信息
      .list-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex: 1;
        height: 100rpx;
        padding: 10rpx 0;
        .list-title {
          width: 480rpx;
          padding-top: 1rpx;
          font-size: 29rpx;
          color: black;
        }
        .list-num {
          width: $width*0.95;
          padding-top: 1rpx;
          color: rgb(112, 111, 111);
          font-size: 24rpx;
        }
      }
      .home-info {
        width: 300rpx;
      }
    }
    // 心动按钮
    .heart-module {
      display: flex;
      align-items: center;
      flex: 1;
      height: $height;
      padding-right: 33rpx;
      font-size: 18rpx;
      uni-button::after {
        border: none;
      }
      .title-btn {
        padding: 0;
        border: 1px solid #eaeaea;
        .icon-xindong {
          font-size: 20rpx;
          margin-right: 5rpx;
        }
      }
    }
    // 歌单右侧编辑
    .compile {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: .32;
      height: $height;
      padding-right: 23rpx;
      .icon-sandian {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: $height;
        font-size: 33rpx;
      }
    }
    // 通过兄弟选择器来使整个容器active
    .left:active, .left:active ~* {
      background: rgba(1, 1, 1, .1);
      .title-btn {
        background: transparent;
      }
    }
  }
}
// 可移动tab选项卡公共样式
.tabs-swiper {
  width: $width;
  /*  #ifndef MP  */
  height: calc(100vh - 60px);
  /*  #endif  */
  /*  #ifdef MP  */
  height: calc(100vh - 66px);
  margin-top: -1px;
  /*  #endif  */
  box-sizing: border-box;
	.tab-swiper-item {
    box-sizing: border-box;
		overflow-y: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
// 空内容
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: $width;
  height: 70%;
  text-align: center;
  font-size: 32rpx;
  .icon-kong {
    margin-bottom: 40rpx;
    color: $defaultColor;
    font-size: 300rpx;
    -webkit-text-stroke: 4px #fff;
  }
}
// 没有更多了
.finished {
  justify-content: center;
  font-size: 32rpx;
}
// 迷你播放器留空
.small-height {
  padding-bottom: 100rpx;
}
// 滑块宽
.u-slider {
  width: $width*0.8;
}
// 迷你播放器圆形进度条
.u-canvas {
  &:active {
    background-color: rgba(1, 1, 1, 0.1);
  }
}
// 登录页公共样式
.phone-login {
  padding: 160rpx 50rpx 0;
  box-sizing: border-box;
  .phone-con {
    position: relative;
    display: flex;
    align-items: center;
    height: $height;
    margin-top: 40rpx;
    border-bottom: 1rpx solid rgba(163, 161, 161, 0.8);
    .phone-num {
      width: $width*0.85;
      height: 55rpx;
      font-size: 36rpx;
      padding-left: 20rpx;
      margin-top: 32rpx;
      // 光标颜色
      caret-color:#e60721;
    }
    // 清除按钮
    .icon-chahao {
      position: absolute;
      right: 0;
      bottom: 22rpx;
      z-index: 10;
      font-size: 46rpx;
      color: rgba(163, 161, 161, 0.8);
    }
  }
  .next {
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    margin-top: 100rpx;
    color: #fff;
    font-size: 35rpx;
    font-weight: bold;
    border-radius: 50rpx;
    background-color: #e60721;
    border: none;
    &:active {
      background-color: #c7182d;
    }
  }
}
// home页面model样式
.content {
  .u-model {
    .u-checkbox {
      padding-left: 30rpx;
    }
    [class*="u-border-bottom"]::after {
      border: none;
    }
    [class*="u-border-top"]::after {
      border: none;
    }
  }
}
// popup
.popup-container {
  .u-drawer-content, .u-drawer-visible, .u-drawer {
    width: $width;
  }
}